<!DOCTYPE html> 
<html> 
	<head>
		<title>
			Графік тестів автомобілів
		</title>	
	</head>
	<body>
<h1 align="center">виберіть зручний час тестдрайву</h1>

	<table border="2" align="center">
 <tr><td>понеділок</td> <td>вівторок</td><td> середа</td> <td>четверг</td><td> пятниця </td></tr>
 <tr>
	<% for(var i=0; i<5; i++) {%>
 <td><form action="/formrender" method="POST" >
 	 	<% for(var j=0; j<7; j++) {%>
 		<button type="submit" name="model" value=<%= results[0].model%> <% if (results[0].graphic[i][j].emploi == 'true') {%>style="color: red"<% } else { %>style="color: green"<% } %>> <%= results[0].graphic[i][j].time%></br> 	
 		</button></br>
		<% } %>
		</form>
	</td>
 	<% } %>
	

</tr>
</table>

	</body>	
</html>