<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Прокат авто</title>

		<link rel="stylesheet" tepe="text/css" href="Css/styles.css">
	</head>
	<body>
		<div id="page-wrapper"></div>

		<heder id="heder">
<h1 align="center">Виберіть тип автомобіля</h1>

		</heder>

		<div id="button">
	
<table border="2" align="center">
	 <tr>
	 	
	<% for(var i=0; i<results.length; i++) {%>
	<td>
<form action="/categories" method="POST">
	<button type="submit" name="type" value=<%=results[i].type%>>
		<image src=<%=results[i].urlimg%> height="100px" width="200px"><br/>
		<b> <%=results[i].type%> </b>
	</button>
</form>
</td>
 <% } %>

		
 </tr>
</table>

		</div>
 
	</body>	
</html>